body {
  background-color: green; }

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto; }

.singleImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 60%;
  border: 1px solid black;
  background-color: white; }
  .singleImage img {
    width: 60%; }

.fa {
  font-size: 30px; }

.fa-thumbs-o-up, .fa-thumbs-up {
  color: blue; }

.fa-heart-o, .fa-heart {
  color: red; }
